body{
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: auto;
    max-width: 1800px;
    background-color: whitesmoke;
    border: solid thin red;
}

.arte{
    width: 45%;
    float: left;
    margin: auto 2.5%;
}

.art img{
    width: 100%;
}

.art:last-of-type{
    width: 95%;
    float: none;
    float: none;
}