body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f7fa;
    color: #333;
}

h1, h2{
    text-align: center;
}

hr{
    width: 99.5%;
}

p{
    color: #333;
}

h1, h3{
    color: #2c4a63;
    
}

h2{
    color: #6c7a89;
    
}

a{
    color: #004552;
}

a:hover{
    color: #ffa700;
}

a:focus{
    color: #c9e0e5;
}

img{
    width: 500px;
    border: 2px solid #2c4a63;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table, td, tr, th{
    padding: 8px;
    border: 1px solid #999;
    border-spacing: 0px;
    text-align: center;
}

th{
    background-color: #2c4a63;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #F2F2F2;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}